<!--Mindula Dilthushan-->
<!--Alpha X Software Company-->
<!--Ax E Commerce v1.0.0-->
<!--21-06-28-->
<div class="main-wrap">
  <div class="content-wrap">
    <!-- Start Login Page Left Side-->
    <div class="left">
      <img src="assets/login.png" alt="login-image">
    </div>
    <!-- End Login Page Left Side-->

    <!-- Start Login Page Right Side-->
    <div class="right">
      <h2 class="business-welcome">Welcome Back ! </h2>
      <img src="assets/ax%20logo.png" alt="ax-logo-image" class="axLogo">
      <div class="login-details-area">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End Login Page Right Side-->

  </div>
</div>
