<div class="main-wrap">
  <div class="content-wrap">

    <!-- Start Login Page Left Side-->
    <div class="left">
      <img src="assets/login.png" alt="login-image">
    </div>
    <!-- End Login Page Left Side-->

    <!-- Start Login Page Right Side-->
    <div class="right">
      <img src="assets/ax%20logo.png" alt="ax-logo-image" class="axLogo">
      <h2 class="business-welcome">Welcome Back . . . </h2>
      <h3 class="business-name">Ax E-Commerce</h3>
    </div>
    <!-- End Login Page Right Side-->
  </div>
</div>
